
body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.color-line {
    background: #f7f9fa;
    height: 6px;
    background-image: -webkit-linear-gradient( left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100% );
    background-image: -moz-linear-gradient( left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100% );
    background-image: -ms-linear-gradient( left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100% );
    background-image: linear-gradient( to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100% );
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    position: fixed; /* Fixed at the top */
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    z-index: 1;
}

.main-container {
    z-index: 2;
    margin-top: -3px;
}

    .main-container img {
        width: 16rem;
        margin: 0 auto;
        display: block;
        margin-top: 30px;
        margin-bottom: 10px;
    }

.login-container {
    background: #fff;
    padding: 20px;
    padding-top: 34px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .login-container h2 {
        text-align: center;
        color: #333;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 5px;
        color: #6a6c6f;
    }

    .form-group input {
        width: 95%;
        padding: 7px;
        border: 1px solid #e4e5e7;
        border-radius: 4px;
    }

        .form-group input[type="checkbox"] {
            display: inline-block;
            width: auto;
            margin-right: 20px;
            vertical-align: middle;
        }

    .form-group label[for="remember-me"] {
        font-size: 11px;
        font-weight: 300;
        color: #6a6c6f;
        margin-bottom: 0;
    }

#remember-me-form-group {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

#last-input {
    margin-bottom: 6px;
}

.login-btn {
    width: 100%;
    padding: 6px 12px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

    .login-btn:hover {
        background-color: #5bc0de;
        border-color: #46b8da;
        color: #fff;
    }

.forgot-password-container {
    padding: 10px 0;
}

.forgot-password {
    display: block;
    text-align: right;
}

    .forgot-password a {
        font-weight: 500;
        font-size: 11px;
        color: #34495e;
    }

.seperator {
    border-top: 1px solid #e3e3e3;
    margin-bottom: 10px;
    margin-top: 5px;
}

.sign-on-providers {
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

    .sign-on-providers p {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 11px;
        color: #6a6c6f;
    }

.alt-login {
    text-align: center;
}

    .alt-login button {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 6px 12px;
    }

.google-login-button {
    color: #e74c3c;
    border: 1.3px solid #e74c3c;
    background-color: white;
    display: flex;
    vertical-align: middle;
    transition: background-color 0.3s ease, color 0.3s ease; /* Arka plan ve renk değişiklikleri için geçiş süresi */
    transition-delay: 0.1s;
}

    .google-login-button:hover {
        background-color: #e74c3c;
        color: white;
        transition-delay: 0s;
    }

    .google-login-button img {
        width: 20px;
        vertical-align: middle;
        flex: 0 0 20px;
        margin: 0;
    }

    .google-login-button span {
        flex: 1;
        white-space: nowrap;
        font-size: 12px;
        margin-top: 3px;
    }

.microsoft-login-button {
    color: #3498db;
    border: 1.3px solid #3498db;
    background-color: white;
    display: flex;
    vertical-align: middle;
    transition: background-color 0.3s ease, color 0.3s ease; /* Arka plan ve renk değişiklikleri için geçiş süresi */
    transition-delay: 0.1s;
}

    .microsoft-login-button:hover {
        background-color: #3498db;
        color: white;
        transition-delay: 0s;
    }

    .microsoft-login-button img {
        width: 20px;
        vertical-align: middle;
        flex: 0 0 20px;
        margin: 0;
    }

    .microsoft-login-button span {
        flex: 1;
        white-space: nowrap;
        font-size: 12px;
        margin-top: 3px;
    }

.app-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .app-links img {
        width: 150px;
        margin: 25px 10px 0 0px;
        align-items: center;
    }

.browser-links {
    text-align: center;
    display: flex;
}

    .browser-links img {
        width: 20rem;
        margin: 0;
        margin-top: 5px;
        margin-left: 10px;
    }

.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    color: #6a6c6f;
}

    .footer b {
        font-weight: 500;
    }
